@import "../../vars.css";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  color: var(--color-primary);
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 32px;
}

.projectsContainer {
  width: 806px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 32px;
}

.allProjectsBtn {
  font-size: 18px;
  font-weight: 600;
  padding: 12px 16px;
  border-radius: 8px;
  border: 2px solid var(--color-secondary);
  background: rgba(61, 77, 97, 0.30);
  text-decoration-line: none;
  color: var(--color-text);
  margin-bottom: 48px;
}

.allProjectsBtn:hover {
  background-color: hsla(213, 23%, 60%, 0.3);
  transform: translateY(-2px);
}

@media screen and (max-width: 850px) {
  .projectsContainer {
    width: calc(100% - 48px);
    justify-content: center;
  }
}