@import "../../vars.css";

.navbar {
  color: var(--color-primary);
  height: 10vh;
  justify-content: center;
  display: flex;
}

.list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.list li {
  list-style: none;
}

.list a {
  margin: 32px;
  font-size: 24px;
  font-weight: 500;
  text-decoration-line: none;
  color: var(--color-primary);
}

.resumeButton {
  flex-direction: row;
  display: flex;
  margin: 32px;
  padding: 10px;
  border: 2px solid var(--color-primary);
  border-radius: 8px;
  align-items: center;
}

.downloadIcon {
  margin-left: 2px;
  color: var(--color-primary);
  size: 24px;
}

.resumeButton:hover {
  background-color: var(--color-primary);
  border: 2px solid var(--color-text);
  color: var(--color-text);
}

.resumeButton:hover .downloadIcon {
  color: var(--color-text);
}

.menuIcon {
  align-self: center;
  margin-right: 24px;
  display: none;
}

@media screen and (max-width: 850px) {
  .navbar {
    display: flex;
    justify-content: flex-end;
  }

  .menuIcon {
    display: block;
  }

  .menuIcon:hover {
    cursor: pointer;
    color: hsla(122, 23%, 60%, 1);
  }

  .list {
    display: none;
    position: absolute;
    flex-direction: column;
    top: 8vh;
    right: 0px;
    margin-right: 24px;
    gap: 16px;
    z-index: 2;
  }
  
  .menuOpen {
    background-color: var(--color-secondary-20);
    padding: 32px;
    border-radius: 8px;
    display: flex;
  }

  .list a {
    margin: 0px;
  }
}